.cabecera{
    width: 10%;
}
.bolsa{
    width: 4%;
    margin-right: auto;
}

.linea{
    border: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%; 
}

.texto-verde{
    color: #069006;
    font-family: 'Roboto', sans-serif;
}

.carousel-item{
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}


.mapa{
    height: 80vh;
}

.fila{
    width: 120%;
    margin-top: 5%;
    margin-right: 0.1%;
    margin-left: 0.1%;
    margin-bottom: 0.2%;
}

.footer{
    background-color: #fff;
    color: #0e6402;
    padding: 1%;
    text-align: center;
}

.fab{
    margin: 1%;
    font-size: 24px;
}

.texto_footer{
    font-size: 200%;
}	